In [11]:

%pip install scikit-learn
%pip install seaborn
%pip install matplotlib

import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-macosx_12_0_arm64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (2.1.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-macosx_14_0_arm64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-macosx_12_0_arm64.whl (11.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.0/11.0 MB 29.6 MB/s eta 0:00:00 0:00:01
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp312-cp312-macosx_14_0_arm64.whl (23.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.1/23.1 MB 51.0 MB/s eta 0:00:00a 0:00:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.1.2)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/marinagasco/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/marinagasco/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/marinagasco/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in /Users/marinagasco/Library/Python/3.12/lib/python/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/marinagasco/Library/Python/3.12/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/marinagasco/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
pd.set_option('display.max_columns', None)

In [14]:
df = pd.read_csv("/Users/marinagasco/Desktop/VS_Bootcamp/Módulo_3/mod-3-pareja-1/Data_3/world_data_full.csv", index_col=0)

In [15]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [9]:
df.columns

Index(['country', 'density', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change', 'currency-code', 'fertility_rate',
       'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate', 'urban_population', 'latitude', 'longitude'],
      dtype='object')

In [21]:
df.shape

(195, 35)

In [17]:
#1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

nulos_columnas = df[df.columns[df.isnull().any()]].select_dtypes(include = np.number).columns

nulos_columnas

Index(['agricultural_land', 'birth_rate', 'calling_code', 'cpi_change',
       'fertility_rate', 'forested_area', 'gasoline_price',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'life_expectancy', 'maternal_mortality_ratio', 'minimum_wage',
       'out_of_pocket_health_expenditure', 'physicians_per_thousand',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate'],
      dtype='object')

In [18]:
len (nulos_columnas)

19

In [44]:
df.isnull().sum()

country                                  0
density                                  0
abbreviation                             0
agricultural_land                        7
land_area                                1
armed_forces_size                       24
birth_rate                               6
calling_code                             1
capital/major_city                       0
co2-emissions                            7
cpi                                     17
cpi_change                              16
currency-code                           15
fertility_rate                           7
forested_area                            7
gasoline_price                          20
gdp                                      2
gross_primary_education_enrollment       7
gross_tertiary_education_enrollment     12
infant_mortality                         6
largest_city                             6
life_expectancy                          8
maternal_mortality_ratio                14
minimum_wage                             0
official_language                        5
out_of_pocket_health_expenditure         7
physicians_per_thousand                  7
population                               1
population_labor_force_participation    19
tax_revenue                             26
total_tax_rate                          12
unemployment_rate                       19
urban_population                         5
latitude                                 0
longitude                                0
dtype: int64

In [28]:
#2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

#minimum_wage -->45: Es la columna que tiene más nulos, pero vamos a hacer una mediana para encontrar el punto medio entre los países que tienen un mínimo más elevado y los que tienen un mínimo más bajo. 


df["minimum_wage"].median()

#La media es 1.045. Tenemos que pensar si lo imputamos a todos los nulos de este df.

np.float64(1.045)

In [31]:
# la primera columna que gestionaremos sera 'conspriceidx' usando el método 'fillna()' que ya conocemos
# calculamos la media para la columna 'conspriceidx'
media_minimum_wage = df["minimum_wage"].median()
print(f"La media de la columna 'minimum_wage' es: {round(media_minimum_wage, 2)}")

# aplicamos el método 'fillna()' a la columna
df["minimum_wage"] = df["minimum_wage"].fillna(media_minimum_wage)

# comprobamos los nulos para la columna
print(f"Después del 'fillna' tenemos {df['minimum_wage'].isnull().sum()} nulos")

La media de la columna 'minimum_wage' es: 1.04
Después del 'fillna' tenemos 0 nulos

In [37]:
#Imputar a valores categóricos (letras) con muy pocos nulos, manualmente la info. 

#"abbreviation", "calling_code", "capital/major_city": 
# Estos valores son categóricos y representan identificadores específicos del país. 
# Podemos imputarlos manualmente buscando los valores en fuentes externas o dejarlos como nulos si no afectan el análisis.

df[df["abbreviation"].isnull()] #Vemos qué países faltan y los añadimos manualmente a pesra de que no es muy necesario pero sí para tener una BBDD más completa.

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
39,Republic of the Congo,16,NaN,31.1,"342,000","12,000",32.86,242.0,Brazzaville,"3,282",124.74,2.2,XAF,4.43,65.4,0.97,"10,820,591,131",106.6,12.7,36.2,Brazzaville,64.3,378.0,0.880,French,43.8,0.12,"5,380,508",69.4,9.0,54.3,9.47,"3,625,010",-0.228021,15.827659
56,Eswatini,67,NaN,NaN,"17,364",NaN,NaN,268.0,Mbabane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,791,304,348",NaN,NaN,NaN,Mbabane,NaN,NaN,1.045,English,11.3,NaN,"1,093,238",NaN,28.6,NaN,NaN,NaN,-26.522503,31.465866
73,Vatican City,"2,003",NaN,NaN,0,NaN,NaN,379.0,Vatican City,NaN,NaN,NaN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.045,Italian,NaN,NaN,836,NaN,NaN,NaN,NaN,NaN,41.902916,12.453389
81,Republic of Ireland,72,NaN,64.5,"70,273","9,000",12.50,353.0,Dublin,"37,711",106.58,0.9,EUR,1.75,11.0,1.37,"388,698,711,348",100.9,77.8,3.1,Connacht,82.3,5.0,10.790,Irish,15.2,3.31,"5,007,069",62.1,18.3,26.1,4.93,"3,133,123",53.41291,-8.24389
119,Namibia,3,NaN,47.1,"824,292","16,000",28.64,264.0,Windhoek,"4,228",157.97,3.7,NaN,3.40,8.3,0.76,"12,366,527,719",124.2,22.9,29.0,Windhoek,63.4,195.0,1.045,English,8.3,0.42,"2,494,530",59.5,27.1,20.7,20.27,"1,273,258",-22.95764,18.49041
128,North Macedonia,83,NaN,NaN,"25,713",NaN,NaN,389.0,Skopje,NaN,NaN,NaN,MKD,NaN,NaN,NaN,"10,220,781,069",NaN,NaN,NaN,Skopje,NaN,NaN,1.045,Macedonian,35.6,NaN,"1,836,713",NaN,NaN,NaN,NaN,NaN,41.608635,21.745275
133,Palestinian National Authority,847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.045,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.952162,35.233154

In [38]:
# aplicamos el loc para rellenar los valores manualmente. 
df.loc[df['country'] == 'Republic of the Congo', 'abbreviation'] = 'CG'
df.loc[df['country'] == 'Eswatini', 'abbreviation'] = 'SZ'
df.loc[df['country'] == 'Vatican City', 'abbreviation'] = 'VA'
df.loc[df['country'] == 'Republic of Ireland', 'abbreviation'] = 'IE'
df.loc[df['country'] == 'Namibia', 'abbreviation'] = 'NA'
df.loc[df['country'] == 'North Macedonia', 'abbreviation'] = 'MK'
df.loc[df['country'] == 'Palestinian National Authority', 'abbreviation'] = 'PS'

In [43]:
df[df["capital/major_city"].isnull()]       

df.loc[df['country'] == 'Libya', 'capital/major_city'] = 'Tripoli'
df.loc[df['country'] == 'Palestinian National Authority', 'capital/major_city'] = 'Ramallah'
df.loc[df['country'] == 'Singapore', 'capital/major_city'] = 'Singapore'

In [ ]:
#También podríamos rellenar manualmente:
# "official_language", "land_area"...

In [47]:
df[df["birth_rate"].isnull()]   #Para no sesgar los datos, haremos la mediana ya que hay países que tienen muchos hijxs y otros que no.

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
56,Eswatini,67,SZ,NaN,"17,364",NaN,NaN,268.0,Mbabane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,791,304,348",NaN,NaN,NaN,Mbabane,NaN,NaN,1.045,English,11.3,NaN,"1,093,238",NaN,28.6,NaN,NaN,NaN,-26.522503,31.465866
73,Vatican City,"2,003",VA,NaN,0,NaN,NaN,379.0,Vatican City,NaN,NaN,NaN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.045,Italian,NaN,NaN,836,NaN,NaN,NaN,NaN,NaN,41.902916,12.453389
120,Nauru,541,NR,NaN,21,NaN,NaN,674.0,Yaren District,NaN,NaN,NaN,AUD,NaN,NaN,NaN,"133,000,000",NaN,NaN,NaN,NaN,NaN,NaN,1.045,English,NaN,NaN,"10,084",NaN,NaN,NaN,NaN,NaN,-0.522778,166.931503
128,North Macedonia,83,MK,NaN,"25,713",NaN,NaN,389.0,Skopje,NaN,NaN,NaN,MKD,NaN,NaN,NaN,"10,220,781,069",NaN,NaN,NaN,Skopje,NaN,NaN,1.045,Macedonian,35.6,NaN,"1,836,713",NaN,NaN,NaN,NaN,NaN,41.608635,21.745275
133,Palestinian National Authority,847,PS,NaN,NaN,NaN,NaN,NaN,Ramallah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.045,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.952162,35.233154
181,Tuvalu,393,TV,60.0,26,NaN,NaN,688.0,Funafuti,11,NaN,NaN,AUD,NaN,33.3,NaN,"47,271,463",86.0,NaN,20.6,Singapore,NaN,NaN,1.045,Tuvaluan Language,0.7,0.92,"11,646",NaN,NaN,NaN,NaN,"7,362",-7.109535,177.64933

In [48]:
media_tasa_natalidad = df["birth_rate"].median()
print(f"La media de la columna 'birth_rate' es: {round(media_tasa_natalidad, 2)}")

# aplicamos el método 'fillna()' a la columna
df["birth_rate"] = df["birth_rate"].fillna(media_tasa_natalidad)

# comprobamos los nulos para la columna
print(f"Después del 'fillna' tenemos {df['birth_rate'].isnull().sum()} nulos")

La media de la columna 'birth_rate' es: 17.95
Después del 'fillna' tenemos 0 nulos

In [ ]:
#Las columnas con más de un 30% de valores nulos, las podemos tratar de varias formas. 
# Opción 1. ¿Eliminar columnas?
# Hacer la mediana en: co2-emissions (valores nulos 7)

In [55]:
# Hemos decidido hacer un KNN en el tamaño de la armada ya que dependiendo de los países vecinos 
# tendremos más tendencia a tener armada y a que ésta tenga un tamaño en concreto. 

from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Removemos comas en la columna 'armed_forces_size' y convertimos a numérico
df["armed_forces_size"] = df["armed_forces_size"].replace({',': ''}, regex=True)
df["armed_forces_size"] = pd.to_numeric(df["armed_forces_size"], errors='coerce')

# Creamos una copia del DataFrame solo con las columnas necesarias
df_impute = df[["armed_forces_size", "country"]].copy()

# Convertimos 'country' a valores numéricos si es categórico
if df_impute["country"].dtype == object:
    df_impute["country"] = LabelEncoder().fit_transform(df_impute["country"])

# Instanciamos el imputador KNN
imputer_knn = KNNImputer(n_neighbors=5)

# Aplicamos el imputador KNN
imputer_knn_imputado = imputer_knn.fit_transform(df_impute)

# Convertimos el resultado a un DataFrame
df_imputed = pd.DataFrame(imputer_knn_imputado, columns=["armed_forces_size", "country"])

# Actualizamos la columna 'armed_forces_size' en el DataFrame original
df["armed_forces_size"] = df_imputed["armed_forces_size"]

# Comprobamos el resultado
print(df["armed_forces_size"])

0      323000.0
1        9000.0
2      317000.0
3      109600.0
4      117000.0
         ...
190    343000.0
191    522000.0
192     40000.0
193     16000.0
194     51000.0
Name: armed_forces_size, Length: 195, dtype: float64